# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Link to CSV path
city_path = "../WeatherPy/output_data/cities.csv"

# Read in the city data results
city_data = pd.read_csv(city_path)

city_data.head()

,City_ID,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kaoma,-14.78,24.80,60.71,48,0,10.85,ZM,1592461893
1,1,Sochi,43.60,39.73,78.80,69,20,2.24,RU,1592461730
2,2,Sibolga,1.74,98.78,79.39,76,100,6.24,ID,1592461893
3,3,Puerto Ayora,-0.74,-90.35,66.99,94,14,8.59,EC,1592461888
4,4,Lorengau,-2.02,147.27,84.74,75,0,11.16,PG,1592461893

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

#Store 'Lat' and 'Long' into locations and 'Humidity' into humidity
locations = city_data[["Lat", "Long"]]
humidity = city_data["Humidity"].astype(float)

In [4]:
# Create a Humidity Heatmap layer
fig = gmaps.figure(center=(20.0, 0.0), zoom_level=2)

#dissipating=False, max_intensity=100,
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity = 280, point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_df = city_data.loc[(city_data['Max Temp'] > 70) &
                            (city_data['Max Temp'] < 80) &
                            (city_data['Wind Speed'] < 10) &
                            (city_data['Cloudiness'] == 0) &
                            (city_data['Humidity'] < 70)]
ideal_df

,City_ID,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,31,Yulara,-25.24,130.99,73.40,16,0,4.70,AU,1592461898
126,126,Mossamedes,-15.20,12.15,71.47,51,0,4.54,AO,1592461650
219,219,Kor√≥ni,36.80,21.95,73.40,64,0,6.73,GR,1592461932
363,363,Kasongo-Lunda,-6.47,16.82,71.37,40,0,3.20,CD,1592461957
381,381,Zhigansk,66.77,123.37,72.73,41,0,4.32,RU,1592461960
385,385,San Blas,21.52,-105.27,76.95,68,0,0.43,MX,1592461960
417,417,Jalu,29.03,21.55,78.22,39,0,1.79,LY,1592461966
525,525,Be≈üikd√ºz√º,41.05,39.23,77.00,69,0,4.70,TR,1592461984
536,536,Chu,43.60,73.76,76.50,24,0,6.87,KZ,1592461986

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Create dataframe w/ desired columns
hotel_df = ideal_df.loc[:,['City', 'Country', 'Lat', 'Long']]

#Add column for Hotel Name
hotel_df["Hotel Name"] = ""
hotel_df

              City Country    Lat    Long Hotel Name
31          Yulara      AU -25.24  130.99
126     Mossamedes      AO -15.20   12.15
219         Kor√≥ni      GR  36.80   21.95
363  Kasongo-Lunda      CD  -6.47   16.82
381       Zhigansk      RU  66.77  123.37
385       San Blas      MX  21.52 -105.27
417           Jalu      LY  29.03   21.55
525      Be≈üikd√ºz√º      TR  41.05   39.23
536            Chu      KZ  43.60   73.76

In [7]:
# Set parameters to search for hotels within 5000 meters
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Long"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search terms: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and convert to json
    name_hotel = requests.get(base_url, params=params).json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_hotel["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.

In [8]:
#View data to ensure hotel name was added
hotel_df

              City Country    Lat    Long                        Hotel Name
31          Yulara      AU -25.24  130.99                     Longitude 131
126     Mossamedes      AO -15.20   12.15       Hotel ibis Styles Iu Namibe
219         Kor√≥ni      GR  36.80   21.95  Colonides Beach Hotel ŒûŒµŒΩŒøŒ¥ŒøœáŒµŒØŒø
363  Kasongo-Lunda      CD  -6.47   16.82
381       Zhigansk      RU  66.77  123.37
385       San Blas      MX  21.52 -105.27          Hotel Hacienda Flamingos
417           Jalu      LY  29.03   21.55                        Jalu Hotel
525      Be≈üikd√ºz√º      TR  41.05   39.23      Ramada by Wyndham Vakfƒ±kebir
536            Chu      KZ  43.60   73.76                  Shu Palace Hotel

In [9]:
#Drop rows that did not return Hotel Name
hotel_df.drop(index=[363,381],inplace=True)
hotel_df

           City Country    Lat    Long                        Hotel Name
31       Yulara      AU -25.24  130.99                     Longitude 131
126  Mossamedes      AO -15.20   12.15       Hotel ibis Styles Iu Namibe
219      Kor√≥ni      GR  36.80   21.95  Colonides Beach Hotel ŒûŒµŒΩŒøŒ¥ŒøœáŒµŒØŒø
385    San Blas      MX  21.52 -105.27          Hotel Hacienda Flamingos
417        Jalu      LY  29.03   21.55                        Jalu Hotel
525   Be≈üikd√ºz√º      TR  41.05   39.23      Ramada by Wyndham Vakfƒ±kebir
536         Chu      KZ  43.60   73.76                  Shu Palace Hotel

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))